# Rust
src-tauri/target/
src-tauri/Cargo.lock

# Node.js
node_modules/
package-lock.json
dist/
dist-tauri/

# IDE & OS
.vscode/
.idea/
.DS_Store
*.log
*.exe

# App Resources
src-tauri/icons/*.png
!src-tauri/icons/icon.ico
